<dom-module id="cells-es6-poly2-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  @apply (--cells-es6-poly2); }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  box-sizing: inherit; }

</style></template></dom-module>