<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../cells-i18n-behavior/cells-i18n-behavior.html">
<link rel="import" href="cells-es6-poly2-styles.html">
<!--
`<cells-es6-poly2>` description.

Example:

```html
<cells-es6-poly2></cells-es6-poly2>
```

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:--------------:|
| --cells-es6-poly2  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@demo demo/index.html
-->
<dom-module id="cells-es6-poly2">
  <template>
    <style include="cells-es6-poly2-styles"></style>
    <p>[[something]]</p>
    <slot></slot>
  </template>
  <script src="cells-es6-poly2.js"></script>
</dom-module>
